<div class="comments-div">

    {{#each this}}
            <div class="comment">
                <div class="comment-discription bg-light">
                    <h2>{{user.username}}</h2>
                    <p>
                        {{comment_text}}
                </div>
            </div>
    {{/each}}
        </div>