<div class="comments-div">

            <div class="comment">
                <div class="comment-discription bg-light">
                    <h2>{{user.username}}</h2>
                    <p>
                        {{comment.comment_text}}
                </div>
            </div>
        </div>