  <div class='comments-div'>
    <div class='comment'>
      {{#each this}}
          <div class='comments'>
            <div class="comment-name">{{user.username}}</div>
            on
            <div class="comment-date">{{format_date created_at}}</div>
          </div>
          <div class='comment-discription bg-light'>
            {{comment_text}}
          </div>
      {{/each}}
    </div>
  </div>
</section>