  <div class='comments-div'>
    <div class='comment'>
      {{#each this}}
        <section>
          <div class='comments'>
            {{user.username}}
            on
            {{format_date created_at}}
          </div>
          <div class='comment-discription bg-light'>
            {{comment_text}}
          </div>
        </section>
      {{/each}}
    </div>
  </div>
</section>