<div class="comments-div">

    {{#each comments}}
            <div class="comment">
                <div class="comment-discription bg-light">
                    <h2>John Doe</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis, nisl
                        nisi consectetur nisl, euismod nisl nisi euismod nisl.
                        Donec euismod, nisl eget consectetur sagittis, nisl
                        nisi consectetur nisl, euismod nisl nisi euismod nisl.
                        Donec euismod, nisl eget consectetur sagittis, nisl
                        nisi consectetur nisl, euismod nisl nisi euismod nisl.
                </div>
            </div>
    {{/each}}
        </div>