<section class='cat-btn-div'>
  <div class='cat-btns'>
    <a href='/wine-gallery/{{id}}'>
      <header>{{name}}</header>
      <img src='/images/{{wine.0.wine_image}}' alt='{{wine.0.name}}' />
    </a>
  </div>
</section>