<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Sip Happens</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet"  href="/stylesheets/style.css"  />

    <svg xmlns='http://www.w3.org/2000/svg' style='display: none'>
      <symbol id='bootstrap' viewBox='0 0 118 94'>
        <title>Bootstrap</title>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z'
        ></path>
      </symbol>
      <symbol id='home' viewBox='0 0 16 16'>
        <path
          d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z'
        ></path>
      </symbol>
      <symbol id='cart' viewBox='0 0 16 16'>
        <path
          d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'
        ></path>
      </symbol>
      <symbol id='grid' viewBox='0 0 16 16'>
        <path
          d='M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z'
        ></path>
      </symbol>
    </svg>
  </head>

  <main class='d-flex flex-nowrap'>
    <body>

      {{! Sidebar }}
      <div
        class='d-flex flex-column flex-shrink-0 p-3 bg-light sidebar-shadow'
        style='width: 280px'
      >
        <a href='/'>
          <img
            class='logo'
            src='/images/SipHappensLogo.png'
            alt='Sip Happens Logo'
          />
        </a>
        <hr />
        <ul class='nav nav-pills flex-column mb-auto'>
          <li class='nav-item'>
            <a
              href='/'
              class='active-nav-link nav-link active'
              aria-current='page'
            >
              <svg class='svg-color bi pe-none me-2' width='16' height='16'>
                <use xlink:href='#/'></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href='/categories' class='nav-link link-dark sec-btn'>
              <svg class='bi pe-none me-2' width='16' height='16'>
                <use xlink:href='#categories'></use>
              </svg>
              Suggested Pairings
            </a>
          </li>
          <li>
<<<<<<< HEAD
            <a href="#https://www.vivino.com/" class="nav-link link-dark sec-btn">
              <svg class="bi pe-none me-2 cart" width="16" height="16">
                <use xlink:href="#https://www.vivino.com/" />
=======
            <a
              href='https://www.vivino.com/'
              target='_blank'
              class='nav-link link-dark sec-btn'
            >
              <svg class='bi pe-none me-2 cart' width='16' height='16'>
                <use xlink:href='#https://www.vivino.com/'></use>
>>>>>>> origin
              </svg>
              Vavino
            </a>
          </li>
        </ul>
        <hr />

        {{! Profile pic / username / log out button }}
        <div class='dropdown'>
          <a
            href='#'
            class='d-flex align-items-center link-dark text-decoration-none dropdown-toggle'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <img
              src='../images/profile-placeholder.png'
              alt=''
              width='32'
              height='32'
              class='rounded-circle me-2'
            />
            <strong>{{username}}</strong>
          </a>
          <ul class='dropdown-menu text-small shadow'>
            {{#if loggedIn}}
              <li><a class='dropdown-item' id='logout' href='#'>Logout</a></li>
            {{else}}
              <li><a
                  class='dropdown-item'
                  id='login'
                  href='/login'
                >Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
      {{{body}}}
      {{#if loggedIn}}
        <script src='/javascript/logout.js'></script>
      {{/if}}
    </body>
  </main>
<<<<<<< HEAD

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
=======
</html>
>>>>>>> origin
