<div class="categories-body">
        <div class="categories">
          <div class="head-div">
            <h1>What are you sipping?</h1>
          </div>

          {{!-- Wine Category Buttons --}}
          <div class="cat-btn-div">
            <div class="cat-btns">
              <a href="">
                <h2>Chardonnay</h2>
                <img class="cat-img" src="/images/Kendall-Jackson-Chardonnay-3.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns margin-btn">
              <a href="">
                <h2>Pinot Grigio</h2>
                <img class="cat-img" src="/images/thumbnails/pinot-gri.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns">
              <a href="">
                <h2>Sauvignon Blanc</h2>
                <img class="cat-img" src="/images/thumbnails/sav-blanc.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
          </div>
          <div class="cat-btn-div">
            <div class="cat-btns">
              <a href="">
                <h2>Moscato</h2>
                <img class="cat-img" src="/images/thumbnails/moscato.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns margin-btn">
              <a href="">
                <h2>Prosecco</h2>
                <img class="cat-img" src="/images/thumbnails/prosecco.jpeg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns">
              <a href="">
                <h2>Chenin Blanc</h2>
                <img class="cat-img" src="/images/thumbnails/chen-blanc.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
          </div>
          <div class="cat-btn-div">
            <div class="cat-btns">
              <a href="">
                <h2>Rosé</h2>
                <img class="cat-img" src="/images/thumbnails/rose.webp" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns margin-btn">
              <a href="">
                <h2>Chianti Classico</h2>
                <img class="cat-img" src="/images/thumbnails/chianti.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns">
              <a href="">
                <h2>Pinot Noir</h2>
                <img class="cat-img" src="/images/thumbnails/pinot-no.webp" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
          </div>
          <div class="cat-btn-div">
            <div class="cat-btns">
              <a href="">
                <h2>Cabernet Savigon</h2>
                <img class="cat-img" src="/images/thumbnails/cab-sav.jpg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns margin-btn">
              <a href="">
                <h2>Malbec</h2>
                <img class="cat-img" src="/images/thumbnails/malbec.webp" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
            <div class="cat-btns">
              <a href="">
                <h2>Merlot</h2>
                <img class="cat-img" src="/images/thumbnails/merlot.jpeg" alt="" />
                <div class="cat-overlay cat-img"></div>
              </a>
            </div>
          </div>
        </div>

        {{!-- Footer --}}
        <footer class="bg-light"></footer>
      </div>