<div class='hero'>

    {{! Hero Header }}
    <div class='hero-head head-box'>
      <div class='ft-head-content'>
        <h1 class='display-4'>Check out our featured pairings for August!</h1>
      </div>
    </div>
    <div class='hero-container'>
  
  
      {{! Featured Buttons }}
      <div class='feat-selections'>
          <a href='/wine/12'>
        <div class='feat-btn-lft feat-img-1 hover-gs ft-btn'>
            <div class='col-md-12 ft-head-content'>
              <h2 class='display-6'>Chianti Classico & Pizza</h2>
            </div>
          </a>
        </div>
        <div class='feat-btn-rt feat-img-2 hover-gs ft-btn'>
          <div class='col-md-12 ft-head-content'>
            <a href='/wine/1'>
            <h2 class='display-6'>Chardonnay & Seafood</h2>
            </a>
          </div>
        </div>
      </div>
      <div class='feat-selections'>
        <div class='feat-btn-lft feat-img-3 hover-gs ft-btn'>
          <div class='col-md-12 ft-head-content'>
            <a href='/wine/5'>
            <h2 class='display-6'>Prosecco & Dessert</h2>
            </a>
          </div>
        </div>
        <div class='feat-btn-rt feat-img-4 hover-gs ft-btn'>
          <div class='col-md-12 ft-head-content'>
            <a href='/wine/7'>
            <h2 class='display-6'>Rose & Salad</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  </div>