{{!-- painting --}}
<section class="cat-btn-div" >
<div class="cat-btns">
    <div class="cat-img"> 
        <img src="/images/{{wine.wine_image}}" alt="{{wine.name}}">
    </div>
    <div>
        <h3 class="wine-name">{{wine.type}}</h3>
        <p>Name: {{wine_name}}</p>
        <p>Our Recommendation: ADD LINK TO REC PAGE</p>
    </div>
</div>
</section>
