<div class="categories-body"> 
  <div class="head-div">
    <h1>What are you sipping?</h1>
  </div>

  <!-- If the user is logged in, render the categories content -->
 {{!-- {{#if loggedIn}} --}}
 
            {{!-- Wine Category Buttons --}}
    <section class="cat-btns">
      <div class="painting-details">
        {{#each categories.wine as |wineRec|}}
        {{> pairing-details}}
        {{/each}}
      </div>
    </section>

  <!-- Otherwise, provide a link to login -->
  {{!-- {{else}}
  <a href="/login">You must login first to view this painting</a>
  {{/if}} --}}
</div>

        {{!-- Footer --}}
        <footer class="bg-light"></footer>
