<div class="categories-body">
  <div class="categories">
    <div class="head-div">
      <h1>What are you sipping?</h1>
    </div>
    <div class="cat-btn-div">
      <div class="cat-btns">
        <a href="/wine/1">
          <h2>Chardonnay</h2>
          <img class="cat-img" src="/images/01-Kendall-Jackson-Chardonnay-3.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns margin-btn">
        <a href="">
          <h2>Pinot Grigio</h2>
          <img class="cat-img" src="/images/02-pinot-gri.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns">
        <a href="">
          <h2>Sauvignon Blanc</h2>
          <img class="cat-img" src="/images/03-sav-blanc.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
    </div>
    <div class="cat-btn-div">
      <div class="cat-btns">
        <a href="">
          <h2>Moscato</h2>
          <img class="cat-img" src="/images/04-moscato.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns margin-btn">
        <a href="">
          <h2>Prosecco</h2>
          <img class="cat-img" src="/images/05-prosecco.jpeg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns">
        <a href="">
          <h2>Chenin Blanc</h2>
          <img class="cat-img" src="/images/06-chen-blanc.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
    </div>
    <div class="cat-btn-div">
      <div class="cat-btns">
        <a href="">
          <h2>Rosé</h2>
          <img class="cat-img" src="/images/10-rose.webp" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns margin-btn">
        <a href="">
          <h2>Chianti Classico</h2>
          <img class="cat-img" src="/images/12-chianti.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns">
        <a href="">
          <h2>Pinot Noir</h2>
          <img class="cat-img" src="/images/07-pinot-no.webp" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
    </div>
    <div class="cat-btn-div">
      <div class="cat-btns">
        <a href="">
          <h2>Cabernet Savigon</h2>
          <img class="cat-img" src="/images/08-cab-sav.jpg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns margin-btn">
        <a href="">
          <h2>Malbec</h2>
          <img class="cat-img" src="/images/09-malbec.webp" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
      <div class="cat-btns">
        <a href="">
          <h2>Merlot</h2>
          <img class="cat-img" src="/images/11-merlot.jpeg" alt="" />
          <div class="cat-overlay cat-img"></div>
        </a>
      </div>
    </div>
  </div>
</div>